@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
   margin: 0;

   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   color: #6c7279;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

/** Container============================================= */

.container {
   width: 100%;
   max-width: 1170px;
   margin: 0 auto;
}


/** Header============================================= */


.header {
   width: 100%;
   height: 100px;

   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;


}

.header_inner {
   padding: 35px 0;

   display: flex;
   justify-content: space-between;
   align-items: center;

   border-bottom:  1px solid #515369;
}

/*! Nav/============================================= */

.nav {
   display: flex;
   font-size: 13px;
   font-weight: 500;
}

.nav_link {
   margin-left: 50px;
   text-transform: uppercase;
   text-decoration: none;
   color: white;

   opacity: 0.75;
   transition: opacity 0.1s;
}

.nav_link:first-child {
  margin-left: 0;
}

.nav_link:hover {
   opacity: 1;

}


/*- intro============================================= */

.intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-top: 100px;
   height: 750px;
   background: #31344e url('img/bg.jpg') no-repeat center / cover;
}

.intro_inner {
   width: 100%;
   max-width: 970px;
   margin: 0 auto;
   text-align: center;
}

.intro_title {
   margin: 0 0 30px;
   font-size: 65px;
   color: #fff;
   text-align: center;
   text-transform: uppercase;
  
}

.intro_sub-title {
   font-size: 22px;
   margin: 0 0 90px;
   
}


/*!* Button============================================= */

.btn {
   display: inline-block;
   vertical-align: top;
   font-size: 15px;
   color: white;
   text-transform: uppercase;
   font-weight: 500;
   padding: 14px 40px;
   
   

   background-color: #e84545;
   text-decoration: none;

   border-radius: 3px;
}


/*! Features============================================= */

.features {
   display: flex;
   margin: 100px 0;
   flex-wrap: wrap;
}

.features_card {
   text-align: center;
   width: 33.33333%;
   padding: 0 40px;
  
}

.features_img {
   margin-bottom: 20px;
}

.features_title {
   color: black;
   opacity: 0.9;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 20px;
}


.features_text {
   font-size: 14px;
   line-height: 1.5;
   margin-bottom: 40px;
}

.works {
   display: flex;
   flex-wrap: wrap;
}

.works_item:hover .works_content {
   opacity: 1;
}

.works_item  {
   width: 25%;
   position: relative;
   overflow: hidden;
   height: 350px;
}


.works_img {
   position: absolute;
   z-index: 1;
}

.works_content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 100%;

   background-color: rgba(90, 86, 86, 0.541);
   opacity: 0;


   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;

   transition: opacity 0.2s linear;
   
}

.works_title {
   font-size: 18px;
   font-weight: 700;
   color: white;
   text-transform: uppercase;
   margin-bottom: 8px;
}

.works_text {
   font-size: 14px;
   color: white;
}

